:root {
    --main-color: orange;
}




.Nav-container {
    background-color: gray;
    min-height: fit-content;
    height: 56px;
    display: flex;
    justify-content: right;
}
.btn {
    background-color: var(--main-color);
    border: 0;
    height: 100%;
    cursor: default;
}
.btn-menu {
    background-color: var(--main-color);
    max-height: 100%;
    width: 60px;
    border: 0;
}
button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(1);
}