.pog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    height: 100px;
}
.box1 {
    height: 100%;
    width: 33%;
    background-color: orange;
}
.box2 {
    height: 100%;
    width: 33%;
    background-color: red;
}
.box3 {
    height: 100%;
    width: 33%;
    background-color: blue;
}